.App {
    text-align: center;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  #ag {
      margin-top: 20px;
      height: 40px;
  }
  .App-header {
    background-color: #ff69b4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .photo {
      height: 300px;
      width: 700px;
  }
  
  td {
      width: 189px !important;
      height: 10px;
  }
  
  .firstCol {
      width: 50px !important;
  }
  
  .empDir {
      margin-top: -90px;
      font-weight: bold;
  }
  
  .table {
      margin-top: -110px;
      margin-bottom: 0;
  
  }
  
  .btn {
      margin-top: 20px;
      margin-left: 20px;
      position: relative;
      left: -20px;
  }
  
  /* iPhone 5/SE ONLY */ 
  @media (width: 314px) {
      .App-header {
            min-height: 100vh;
            min-width: 90vh;
      }
      .btn {
          position: relative;
          left: -10px;
      }
      .table {
          margin-top: -20vh;
          width: 90vh;
      }
      .photo {
          width: 80vh;
          height: 40vh;
      }
  }
  
  
  /* Mobile Devices (phones) ONLY */ 
  @media (min-width: 360px) {
     .App-header {
            min-height: 100vh;
            min-width: 90vh;
      }
      .btn {
          position: relative;
          left: -10px;
      }
      .table {
          margin-top: -20vh;
          width: 90vh;
      }
      .photo {
          width: 80vh;
          height: 40vh;
      }
  }
  
  @media (width: 1000px) {
     .App-header {
            min-height: 100vh;
            min-width: 100vh;
      }
      .btn {
          position: relative;
          left: -10px;
      }
      .table {
          margin-top: -20vh;
          width: 400%;
      }
      .photo {
          width: 80vh;
          height: 40vh;
      }
  }
  
  @media (width: 1024px) {
     .App-header {
            min-height: 900px;
            width: 100vh;
      }
      .btn {
          position: relative;
          left: -10px;
      }
      .table {
          margin-top: -200px;
          width: 100vh;
          position: relative;
      }
      .photo {
          width: 30vh;
          height: 10vh;
      }
  }

  @media (width: 1125px) {
    .App-header {
           min-height: 500px;
           min-width: 30px;
     }
     .btn {
         position: relative;
         left: -10px;
     }
     .table {
         margin-top: -100px;
         width: 1125px;
         position: relative;
     }
     .photo {
         width: 500px;
         height: 180px;
     }
 }

 @media (width: 768px) {
    .App-header {
           min-height: 500px;
           min-width: 100vh;
     }
     .btn {
         position: relative;
         left: -10px;
     }
     .table {
         margin-top: -100px;
         width: 100vh;
         position: relative;
     }
     .photo {
         width: 500px;
         height: 180px;
     }
 }

 @media (width: 828px) {
    .App-header {
           min-height: 50vh;
           min-width: 1790px;
     }
     .btn {
         position: relative;
         left: -10px;
     }
     .table {
         margin-top: -100px;
         width: 100vh;
         position: relative;
     }
     .photo {
         width: 700px;
         height: 280px;
     }
 }