.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#ag {
    margin-top: 20px;
    height: 40px;
}
.App-header {
   height: 110vh;
  background-color: #ff69b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

td {
    width: 189px !important;
    height: 10px;
}

.firstCol {
    width: 50px !important;
}

.empDir {
    margin-top: -30px;
    font-weight: bold;
}

.table {
    margin-top: -80px;
    margin-bottom: 0;
}

.btn {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    left: -20px;
}